* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.border  {
    border:1.5px solid transparent ;
}
.border:hover {
    border:1.5px solid white ;
}
.logo {
    background-image: url("amazon_logo.jpg");
    background-size: cover;
    width: 100px;
    height: 50px;
}

/** Box for logo in navbar **/
.nav-logo {
    height: 50px;
    width: 100px;
}
/** Box for adress in navbar **/
.add-icon {
    display: flex;
    align-items: center;
}
.add-first {
    font-size: 0.6rem;
    color: #cccccc;
    margin-left: 15px;
}
    
/** Box for Search in navbar **/   
 .nav-search {
    display: flex;
    border-radius: 4px;
    width: 380px;
    height: 37px;
 }
 .nav-search:hover {
    border: solid 1px orange ;
 }
 .search-select {
    background-color: #f3f3f3;
    width: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
 }
 .search-select:hover {
    border: solid 1px rgba(255, 255, 0, 0.851) ;
 }
 .input {
    width: 300px;
    border: none;
    font-size: 0.8rem;
 }
 .input:hover {
    border: solid 2px rgba(255, 255, 0, 0.851) ;
 }
 .search-icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:#0f1111;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
 }
 .search-icon:hover {
    border: solid 2px rgba(255, 255, 0, 0.851) ;
 }
 /** Box for Search in navbar **/   
 .lang {
    height: 40;
    width: 100;
    /* background-color:white ; */
    display: flex;
 }
 .select-lan {
    font-size:0.8rem ;
    font-weight: 700;
    background-color: #0f1111;
    font: white 400 ;
 }

  /* Box 5 and 6 for sign in and orders  */
.sign-in {
    font-size: 0.8rem;
    color: #cccccc;
}
.orders {
    font-size: 0.6rem;
    color: white;
    font-weight: 250;
    font-weight: 700;
}

/* Box 7 for Cart  */
.nav-cart i {
    font-size: 20px;
}
.nav-cart {
    font-size: 0.5rem;
    font-weight: 200;
}

/** Pannel Bar **/
.pannel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.pannel-ops p{
    display: inline;
    font-size: 0.85rem;
    margin-left: 15px;

}
.pannel-ops {
    width: 70%;

}
.pannel-deals {
    font-size: 1rem;
    font-weight: 900px;
}

/** Hero Section **/
.hero-section {
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 320px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.mssg {
    background-color: white;
    height: 35px;
    font: #0f1111;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 25px;
    
}
.mssg a {
    color: #007185;
}
/** Shop Section **/
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e6e7b5;
}
.boxA {
    height: 250px;
    width: 180px;
    background-color: white;
    padding: 10px 0px 15px;
    margin-top: 15px; 
    font-size: 0.6rem;
}
.borderA:hover {
    border: solid 2px rgba(255, 255, 0, 0.851) ;
}
.box-image {
    margin-top: 5px;
    height: 200px;
    background-size: cover;
    margin-bottom: 0.8rem;
}
.box-content {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.p {
    color: #007185;
}

/** Footer **/
.A {
    margin-top: 15px;
}
.foot-pannel {
    background-color: #37475a;
    color: white;;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.foot-pannel2 {
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.7rem;
}
ul a {
    display: block;
    margin-top: 10px;
    color: #dddddd;
}
.foot-pannel3 {
    background-color: #37475a;
    border-top:  0.5px solid white ;
    color:white;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-pannel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 0.7rem;
}
.pages {
    padding-top: 25px;
}
.copyright {
    padding-top: 5px;
}

